<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter poll code here!"
        [(ngModel)]="pollQuestion"
      />
      <div class="input-group-append">
        <!-- <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchPollQuestion()"
        >
          Search Polls
        </button> -->
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Poll Options</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let poll of polls; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePoll(poll, i)"
      >
        {{poll.pollQuestion }}
      </li>
    </ul>

    <!-- <button class="m-3 btn btn-sm btn-danger" (click)="sendVote()">
      Vote!
    </button> -->
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPoll">
      <h4>Poll</h4>
      <div>
        <label><strong>Poll Question:</strong></label> {{ currentPoll.pollQuestion }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentPoll.askedBy }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentPoll.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning" routerLink="/polls/{{ currentPoll.pollCode }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentPoll">
      <br />
      <p>Please vote on this poll!</p>
    </div>
  </div>
</div>
