<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="pollQuestion">Title</label>
        <input
          type="text"
          class="form-control"
          id="pollQuestion"
          required
          [(ngModel)]="poll.pollQuestion"
          name="pollQuestion"
        />
      </div>

      <div class="form-group">
        <label for="askedBy">Creator Name</label>
        <input
          class="form-control"
          id="askedBy"
          required
          [(ngModel)]="poll.askedBy"
          name="askedBy"
        />
      </div>

      <div class="form-group">
        <label for="optionList">Option 1 because forms are dumb so only one option until I get this working</label>
        <input
          type="text"
          class="form-control"
          id="optionList"
          required
          [(ngModel)]="poll.optionList"
          name="optionList"
        />
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Anonymous Voting</mat-label>
        <mat-select>
          <mat-option value="one">Allow Anonymous Voting</mat-option>
          <mat-option value="two">Do Not Allow Anonymous Voting</mat-option>
        </mat-select>
      </mat-form-field>
      

      <button (click)="savePoll()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Poll was created successfully!</h4>
      <button class="btn btn-success" (click)="newPoll()">Add</button>
    </div>
  </div>
</div>