<div class="main-content">
    <div class="container-fluid">
        <form (ngSubmit)="save()" #pollForm="ngForm">
            <div class="row form-check form-check-radio">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Enter Your Poll Question Here!</label>
                        <input type="text" required minlength="1" maxlength="250" class="form-control" placeholder=""
                            [(ngModel)]="poll.pollQuestion" #namePoll="ngModel" name="pollQuestion">
                    </div>
                </div>
            </div>
            
            <div class="row form-check form-check-radio">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Enter Your Name Here!</label>
                        <input type="text" required minlength="1" maxlength="250" class="form-control" placeholder=""
                            [(ngModel)]="poll.askedBy" #namePoll="ngModel" name="askedBy">
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="poll.require_name"
                        name="require_name">
                    <span class="form-check-sign"></span>
                    Require a name with each vote?
                </div>
            </div>

            <hr>

            <a class="btn btn-info" style="margin-bottom:1%" (click)="add()">Add new vote option</a>
            <div *ngFor="let vote of poll.optionList; let i=index">
                <div class="form-group">
                    <label>Option #{{i + 1}}
                        <i class="pe-7s-close-circle icon" (click)="removeAnswer(i)"></i></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" required minlength="2" maxlength="250" class="form-control"
                                placeholder="" [(ngModel)]="poll.voteList[i]" #votePoll="ngModel"
                                name="'{{ 'votePoll' + i }}">
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            
            
            <button type="submit" [disabled]="!pollForm.form.valid" class="btn btn-success">Create Poll!</button>
        </form>
    </div>
</div>