<style>
  .content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  </style>
  <body>
  
  <div class="content">
  
  <div>
    <input type="text" id="pollCode" [(ngModel)]="pollCode">
    <button (click)="getPollData()" type="button" name="button">Get Poll Data</button>
  </div>

  <br/>

  <div *ngIf="pollData">
    <span>Poll Question:  {{ pollData.question }}</span>
    <br/>  
    <form #ballotForm="ngForm" (ngSubmit)="onSubmit(ballotForm)">
        <div *ngFor="let candidate of pollData.candidates; index as i">  <br/>
            <label>Choice {{i+1}} </label> <br/>
            <select name="Choice{{i+1}}"  ngModel>
                <option *ngFor="let candidate of pollData.candidates; let j = index" [value]="j">
                    {{candidate}}
                  </option>
                  <br/>
            </select>
        </div>
        <br/>
        <p>
            <label>Enter Name </label> <br/>
            <input type="text" name="voterName" id="voterName" [(ngModel)]="voterName" ngModel>
        </p>
        <p>
            <button type="submit">Submit Vote</button>
        </p> 
    </form>
  </div>
</div>